.navbar a {
    color: red;
};

#cartlink {
    display: flex;
};

#cartlink form {
    margin-left: auto;
};

.bodybg body {
background-color:    #7AA0BE;
};

.test h1 {
    color:#7AA0BE;
    font-size: 100em;
};