body { 
    background-color:    #7AA0BE;
    width: 960px;
    margin: auto;
    
    .navbar a {
        color: red;
    };

    #cartlink {
        display: flex;
    };
    
    #cartlink form {
        margin-left: auto;
    };

    .test {
        color:#7AA0BE;
        font-size: 100em;
    }; 
    
     #main {
    width: 960px;
    };
    
    h1 {
        font-style: italic;
    }; 

};

