body { 
    background-color:    #7AA0BE;
    margin: auto;
    font-family: Arial, sans-serif;
    font-weight: bold;
    
    .navbar {
        margin: auto 15%;
    }

    h1 {
        font-weight: bold;
    }
    .navbar a {
        color: black;
        text-decoration: none;
        font-size: 1.5em;

    };

    #cartlink {
        display: flex;
    };
    
    #cartlink form {
        margin-left: auto;
    };

    #logolink {
        margin: auto;
        margin-left: 15%;
    }

    #logo {
        width: 150px;
        margin: 10px 0px;
    }
    
    .utility {
        background-color: black;
        display: flex;
    }

    #formsearch {
        display: flex;
        align-self: center;
        margin: auto;
        width: 50%;
        height: 50px;
    }

    #search {
        margin-right: 0px;
        width: 100%;
        border-radius: 50px 0px 0px 50px;
        font-size: larger;
    }

    #btnsearch {
        margin-left: 0;
        border-radius: 0px 50px 50px 0px;
        width: 75px;
        background-color: #FFA500;
    }

    #iconsearch {
        width: 45px;
        padding: 10px;

    }

    #cartlink {
        margin: auto;
        margin-right: 15%;
    }

    #carticon {
        height: 50px;
    }

    #registerlogin {
        align-self: center;
        text-align: center;
        margin: auto;
    }

    #registerlogin a {
        font-size: larger;
        color: white;
        text-decoration: none;
    }

    #motto h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        font-style: italic;
        font-size: 2.5em;
        margin: auto;
        color: white;
    }

    #motto {
        display: flex;
        background-color: black;
        height: 75px;
    }

    #promo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 400px;
        padding-top: 2em;
    }
        
    #announcement { 
        grid-area: 1 / 1 / 2 / 2;
        align-self: center;
        margin: -50px 0 0 30%;
        /* font-size: 2.25em; */
     }
 
    #announcement h2 {
        font-weight: bold;
    }

    #timer { 
        grid-area: 1 / 2 / 2 / 3; 
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-right: 30%;
            
    }
            
        #day1 { 
            grid-area: 1 / 1 / 2 / 2;
            width: 75px;
            height: 100px;
            font-size: 6em;
            background-color: white;
            text-align: center;
            align-content: center;
            margin: auto;
            margin-top: 50px;
        }
        #day1 p {
            margin: 0;
        }

        #day2 { 
            grid-area: 1 / 2 / 2 / 3;
            width: 75px;
            height: 100px;
            font-size: 6em;
            background-color: white;
            text-align: center;
            align-content: center;
            margin: auto;
            margin-top: 50px;
        }

        #day2 p{
            margin: 0;
        }

        #divide1 { 
            grid-area: 1 / 3 / 2 / 4;
            width: 75px;
            height: 100px;
            font-size: 6em;
            color: white;
            text-align: center;
            align-content: center;
            margin: auto;
            margin-top: 40px;
        }

        #divide1 p {
            margin: 0;
        }

        #hour1 { 
            grid-area: 1 / 4 / 2 / 5;
            width: 75px;
            height: 100px;
            font-size: 6em;
            background-color: white;
            text-align: center;
            align-content: center;
            margin: auto;
            margin-top: 50px;
        }

        #hour1 p {
            margin: 0;
            text-align: center;
        }

        #hour2 { 
            grid-area: 1 / 5 / 2 / 6;
            width: 75px;
            height: 100px;
            font-size: 6em;
            background-color: white;
            text-align: center;
            align-content: center;
            margin: auto;
            margin-top: 50px;
        }

        #hour2 p {
            margin: auto;
        }

        #divide2 { 
            grid-area: 1 / 6 / 2 / 7;
            width: 75px;
            height: 100px;
            font-size: 6em;
            color: white;
            text-align: center;
            align-content: center;
            margin: auto;
            margin-top: 40px;
        }

        #divide2 p {
            margin: 0;
        }

        #minute1 { 
            grid-area: 1 / 7 / 2 / 8;
            width: 75px;
            height: 100px;
            font-size: 6em;
            background-color: white;
            text-align: center;
            align-content: center;
            margin: auto;
            margin-top: 50px;
        }

        #minute1 p {
            margin: 0;
        }

        #minute2 { 
            grid-area: 1 / 8 / 2 / 9;
            width: 75px;
            height: 100px;
            font-size: 6em;
            background-color: white;
            text-align: center;
            align-content: center;
            margin: auto;
            margin-top: 50px;
        }

        #minute2 p {
            margin: 0;
        }

        #days {
            grid-area: 2 / 1 / 3 / 3;
            font-size: 2.5em;
            text-align: center;

        }

        #days p {
            margin: 0;
        }

        #hours {
            grid-area: 2 / 4 / 3 / 6;
            font-size: 2.5em;
            text-align: center;    
        }

        #hours p {
            margin: 0;
        }

        #minutes { 
            grid-area: 2 / 7 / 3 / 9; 
            font-size: 2.5em;
            text-align: center;
            
        }

        #minutes p {
            margin: 0;
        }
    
    #member {
        grid-area: 2 / 1 / 3 / 3;
        text-align: center;
        height: 50px;
        margin-top: -50px;
    }
    #member p {
        font-size: 1.5em;
        margin-bottom: -10px;
    }
    #member button {
        border-radius: 50px;
        width: 300px;
        height: 40px;
        background-color: #FFA500;
        border: 0px;
        font-size: 1.5em;
        font-weight: bold;
    }

    #ghostie {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: black;
        height: 400px;
        }
        
    #hunt { 
        grid-area: 1 / 1 / 2 / 2;
        color: white;
        font-size: 2em;
        margin: auto;
        margin-left: 160px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        align-content: center;
        margin-left: 30%;
        
    }
    
    #example { 
        grid-area: 1 / 2 / 2 / 3; 
        align-content: center;
        margin: auto;
        margin-right: 30%;

    }

    #example img {
        width: 450px;
    }

    #exclusive, #toprated, #community {
        text-align: center;
    }

    #opportunity {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: center;
        }
        
        #group { 
            grid-area: 1 / 1 / 2 / 2; 
            font-size: 1.5em;
            background-color: black;
            color: white;
            width: 65%;
            margin: 0px auto 50px 30%;
            border-radius: 5%;
            text-align: center;
        }

        #group img {
            width: 60%;
            border-radius: 5%;
            margin: 25px;
        }

        #group p {
            text-align: left;
            margin: 25px;
            font-weight: normal;

        }

        #evidence { 
            grid-area: 1 / 2 / 2 / 3; 
            font-size: 1.5em;
            background-color: black;
            color: white;
            width: 65%;
            margin: 0px 30% 50px auto;
            border-radius: 5%;
            text-align: center;
        }

        #evidence img {
            width: 80%;
            border-radius: 5%;
            margin: 50px auto 25px auto;
        }

        #evidence p {
            text-align: left;
            margin: 75px 25px 25px 25px;
            font-weight: normal;
        }

        .sectionheader {
            margin: 50px;
            font-size: 3em;
        }

    .producthome {
        display: flex;
        width: 65%;
        height: 260px;
        margin: 50px auto;
        background-color: black;
        color: white;
        border-radius: 25px;

    }
    
    .productimage {
        margin: auto;
        background-color: white;
        min-width: 200px;
        min-height: 200px;
        border-radius: 25px;
        margin-left: 50px;
        align-content: center;
    }

    .purchasegroup {
        margin: 20px 10px;
    }

    .readmore { 
        color: #FFA500; 
        text-decoration: none;
    }

    .productimage img {
        margin: auto;
        display: flex;
        max-height: 150px;
        max-width: 150px;
        z-index: auto;
    }

    .description {
        margin: auto;
        padding-left: 25px;
    }

    .productdesc {
        margin-right: 50px;
    }

    .purchase {
        display: flex;
        float: right;
        margin-right: 75px;
        margin-bottom: 15px;
        
    }

    .purchase button {
        border: 0px;        
    }

    .buynow, .addtocart {
        width: 125px;
        margin-right: 15px;
        border-radius: 25px;
        font-weight: bold;
    }

    .buynow {
        background-color: #FF8800;
    }

    .addtocart, .removeitem, .additem {
        background-color: #FFA500;
    }

    .itemcount {
        width: 30px;
        height: 30px;
        background-color: white;
        color: black;
        text-align: center;
        align-content: center;
        margin: 10px;
        border-radius: 5px;
        font-size: 1.25em;
    }

    .removeitem, .additem {
        width: 25px;
        height: 25px;
        margin: auto;
        border-radius: 5px;
        font-weight: bold;
    }

    .productsale {
        line-height: 23px;
        margin-top: 10px;
    }

    .productsale img {
        width: 15px;
        margin-top: -6px;
    }

    #ghostiefind {
        height: 75%;
        z-index: -1;
        margin-top: -135px;
        margin-left: -215px;
        transform: rotate(-0.08turn);
        background-color: transparent;        
    }

    

    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: black;
        height: 500px;
        }
        
        .footerlogo { 
            grid-area: 1 / 1 / 2 / 4;
            margin: 50px auto 50px auto;
        }

        .footerlogo img {
            width: 150px;
        }

        .footerlink { 
            grid-area: 2 / 1 / 3 / 2;
            display: flex;
            flex-direction: column;
            text-align: center; 
            font-size: 1.25em;
        }

        .footerlink a {
            text-decoration: none;
            color: white;
        }

        .footercontact { 
            grid-area: 2 / 2 / 3 / 3; 
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
            margin: auto;
            margin-top: 0;
        }

        .phone, .email, .address {
            display: flex;
        }

        .phone p, .email p, .address p {
            margin: 5px 0px 10px 10px;
            font-size: 1.25em;

        }

        .phone img, .email img, .address img{
            width: 35px;
            height: 35px;
        }

        .footersocial { 
            grid-area: 2 / 3 / 3 / 4; 
            font-size: 1.25em;
            color: white;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .footersocial a {
            text-decoration: none;
            color: white;
        }

        .footercopy { 
            grid-area: 3 / 1 / 4 / 4; 
            font-size: 1.25em;
            color: white;
            text-align: center;
            margin: 25px auto;
        }

    @media only screen and (min-width: 200px) and (max-width: 767px)  {
        .utility {
            display: flex;
            flex-direction: column;
            align-content: center;
            margin: auto;   

        }
        
        #timer {
            display: none;
        }

        #example {
            display: none;
        }

        .productdesc {
            display: none;
        }        

        .producthome {
            display: flex;
            flex-direction: column;

        }

        }

    @media only screen and (min-width: 768px) and (max-width: 1024px)  {

    }
};

